---
layout: default
---

<div class="home"> 
    {% for post in site.posts limit:3 %}
    <div class="post">
        <h2 class="post-title">
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title | escape }}</a>
        </h2>
        <h4 class="post-meta"><span class="post-author">{{ post.author }}</span> <span class="post-date">{{ post.date | date: "%b %-d, %Y" }}</span></h4>
        <div class="post-excerpt">{{ post.excerpt }}</div>
    </div>
  {% endfor %}
  
  <h3>Most recent post</h3>
  <ul class="post-list">
    {% for post in site.posts limit:10 %}
    <li><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title | escape }}</a><span class="pull-right">{{ post.date | date: "%b %-d, %Y" }}</span></li>
    {% endfor %}
  </ul>
  <a class="all-articles" href="{{ site.baseurl }}/posts/">Browse all Articles</a>
  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
</div>
