<meta charset="utf-8">
<title>{% if page.title %}{{ page.title }} &#8211; {% endif %}{{ site.title }}</title>
<meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/js/vendor/normalize.css/normalize.css" />
<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/js/vendor/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/js/vendor/fontawesome/css/font-awesome.min.css" />
<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/js/vendor/unslider/dist/css/unslider.css" />

<link rel="stylesheet" href="{{ site.baseurl }}/css/main.css" />

<script src="{{ site.baseurl }}/js/vendor/jquery/dist/jquery.min.js"></script>