<!DOCTYPE html>
<html>
	<head>
		{% include head.html %}
	</head>
	<body>
		{% include nav.html %}
		<div class="page-meta" style="margin-top: 50px">
			<h1 class="page-title">
				{{ page.title }}
			</h1>
			{% if page.desc %}
			<div class="page-desc">
			{{ page.desc }}
			</div>
			{% endif %}
		</div>
		<div class="container">
			<div class="row">
				<div class="col-sm-12">	
					<div class="actual-post">			
						<div class="post-meta">
							<span class="post-category">
							{% for category in page.categories %}
								{{ category }}{% unless forloop.last %}, {% endunless %}
							{% endfor %}
							</span>
							<span class="post-read">
								{% assign words = page.content | number_of_words %}
								{% if words < 360 %}
								  ~1 min
								{% else %}
								  ~{{ words | divided_by:180 }} mins
								{% endif %} read
							</span>
							<span class="post-date">{{ page.date | date: "%b %-d, %Y" }}</span>
							<span class="post-author">{{ site.data.authors[page.author].name }}</span>
						</div>
						<div class="post-body">
							{{ page.content }}
						</div>
						<div class="row">
							<div class="col-md-8 col-sm-6">
								<div class="post-tags">
									<strong>Tags </strong> 
									{% for tag in page.tags %}
										<span class="post-tag">{{ tag }}</span>
									{% endfor %}
								</div>
							</div>
							<div class="col-md-4 col-sm-6 text-right">
								{% include share.html %}
							</div>
					</div>					
					{% include disqus.html %}
					{% include subscribe.html %}
				</div>
			</div>
		</div>
	{% include footer.html %}
	{% include scripts.html %} 
	</body>
</html>